@font-face {
  font-family: 'Quicksand-Light';
  src: url('../font/Quicksand-Light.eot');
  src: url('../font/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Quicksand-Light.woff') format('woff'),
    url('../font/Quicksand-Light.ttf') format('truetype'),
    url('../font/Quicksand-Light.svg#Quicksand-Light') format('svg');
  font-style: normal;
  font-weight: normal;
}


/* setting font for the whole page */
* {
  font-family: 'Quicksand-Light', sans-serif;
  box-sizing: border-box;
}



/* ajax div */
#AJAXtables {
  grid-area: ajax;
  /* border-collapse: separate;
  border-spacing: 50px 0; */
}

td , th{
  padding: 0px 20px;
}

/* setting all the names to call on the grid */
header {
  grid-area: header;
}

.logo {
  grid-area: logo;
}

.nav {
  grid-area: nav;
}

.routes {
  grid-area: routes;
}

.info {
  grid-area: info;
}

.packing {
  grid-area: packing;
}

.gallery {
  grid-area: gallery;
}

.about {
  grid-area: about;
}

.extra1 {
  grid-area: extra1;
}

.extra2 {
  grid-area: extra2;
}

.main {
  grid-area: main;
}

.toppart {
  grid-area: toppart;
}

figure {
  grid-area: figure;
}

figcaption {
  grid-area: figcaption;
}

.title {
  grid-area: title;
}

.desc {
  grid-area: desc;
}

.bottomnav {
  grid-area: bottomnav;
}

.news {
  grid-area: news;
}

.emailicon {
  grid-area: emailicon;
}

.prompt {
  grid-area: prompt;
}

form {
  grid-area: emailinput;
}

button {
  grid-area: button;
}

.subs {
  grid-area: subs;
}

.sub1 {
  grid-area: sub1;
}

.img1 {
  grid-area: img1;
}

.sub2 {
  grid-area: sub2;
}

.img2 {
  grid-area: img2;
}

.sub3 {
  grid-area: sub3;
}

.img3 {
  grid-area: img3;
}

.sub4 {
  grid-area: sub4;
}

.img4 {
  grid-area: img4;
}

footer {
  grid-area: footer;
}


.footright {
  grid-area: footright;
  height: 5%;
}

.socials {
  grid-area: socials;
}

.footercontainer {
  grid-area: footerC;
}


/* to make placeholder text disappear upon clicking the form */
input:focus::placeholder {
  color: transparent;
}




/* styling the links */
a {
  color: rgb(0, 78, 134);
  font-weight: bold;
}

/* set all images to fit the grid */
img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

figure {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* set nav to center contents */
nav {
  align-items: center;
}

/* styling the labels / tags for the website */
.label {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(207, 255, 255);
  color: rgb(0, 78, 134);
  width: fit-content;
  border-radius: 4px;
  font-weight: 700;
}

.bottomnav {
  background-color: rgb(207, 255, 255);
  padding: 1%;
}


.nav a {
  margin-left: 8%;
}

.extra1 div,
.extra2 div {
  margin-top: 6%;
}

.extra1 a,
.extra2 a {
  font-size: 110%;
}

button {
  height: 30px;
  align-self: center;
  color: white;
  background-color: rgb(0, 78, 134);
  border-radius: 5px;
}

.collapse , .showmorebtn{
  height: 30px;
  align-self: center;
  justify-self: center;
}


form,
.news div,
.news img {
  align-self: center;
}

.img1,
.img2,
.img3,
.img4 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-self: center;
}



.socials {
  justify-self: right;
  height: 8%;
  object-fit: contain;
  /* align-self: top; */


}

.socials img {
  padding-left: 5%;
}

.subs div {
  margin-top: 7%;
  margin-bottom: 7%;
}

.subs a {
  font-size: 120%;
}

figure {
  position: relative;
  margin: 0;
  height: 100%;
}

.float {
  position: absolute;
  top: 300px;
}

.title {
  color: black;
  background-color: white;
  width: fit-content;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 150%;
}

.desc {
  color: white;
  background-color: black;
  width: fit-content;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 120%;
}




/* setting up the parts that are gonna use the grid */
header,
nav,
main,
.container,
.toppart,
.bottomnav,
.news,
.subs,
footer {
  display: grid;
}

.socials {
  display: flex;
}

.collapse {
  background-color: white;
  border-color: rgb(0, 78, 134);
  border-width: 1.5px;
  color: rgb(0, 78, 134);
  font-weight: bold;
}








/* media query for the 3 screen sizes */
@media screen and (min-width: 1281px) {

  figcaption {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: white;
    color: black;
    opacity: 0.75;
    border-radius: 5px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 90%;
  }

  .container {
    padding: 5%;
    padding-bottom: 0;

    grid-template-columns: 15% auto;

    grid-template-rows: auto auto auto;
    grid-column-gap: 6%;
    grid-template-areas:
      "header main"
      "ajax"
      "footer footer"

  }



  header {
    /* align-items: start;
  top: 0;
  position: sticky; 
  height:100vh; */

    grid-row-gap: 4%;

    grid-template-rows: min-content min-content min-content min-content;

    grid-template-areas:
      "logo"
      "nav"
      "extra1"
      "extra2"
  }

  nav {
    grid-row-gap: 3%;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(5, auto);

    grid-template-areas:
      "routes"
      "info"
      "packing"
      "gallery"
      "about"
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
      "toppart"
      "news"
      "subs"
  }



  .toppart {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "figure"
      "bottomnav"
  }

  .bottomnav {
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(5, auto);
  }

  .news {
    padding-top: 3%;
    padding-bottom: 3%;

    grid-gap: 2%;
    grid-template-columns: auto;
    grid-template-rows: 50px;

    grid-template-areas:
      "emailicon prompt emailinput button"
  }



  .subs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% fit-content;

    grid-column-gap: 3%;
    grid-template-areas:
      "img1 img2 img3 img4"
      "sub1 sub2 sub3 sub4"
  }

  footer {
    height: 100px;
    /* align-self: top; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "footright socials"
  }

}








@media screen and (min-width: 701px) {

  figcaption {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: white;
    color: black;
    opacity: 0.75;
    border-radius: 5px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 90%;
  }

  .container {
    padding: 5%;
    padding-bottom: 0;
    grid-row-gap: 3%;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "main"
      "ajax"
      "footer"

  }

  .extra1,
  .extra2 {
    display: none;
  }

  header {
    /* align-items: start;
  top: 0;
  position: sticky; */

    grid-column-gap: 7%;

    grid-template-columns: 15% auto;
    grid-template-rows: min-content;

    grid-template-areas:
      "logo nav"

  }

  nav img {
    /* min-height: 20px;
    max-height: 20px; */
    height: 80%;
    /* max-width: 100%; */
    object-fit: contain;
  }

  nav {
    font-size: 100%;
    /* text-align: top; */
  }

  .logo {
    padding: 10%;
    /* height: 130px; */
  }

  nav {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-row-gap: 3%;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40% auto;

    grid-template-areas:
      "routes info packing gallery about"

  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
      "toppart"
      "news"
      "subs"
  }



  .toppart {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "figure"
      "bottomnav"
  }

  .bottomnav {
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(5, auto);
  }

  .news {
    padding-top: 3%;
    padding-bottom: 3%;

    grid-gap: 2%;
    grid-template-columns: auto;
    grid-template-rows: 50px;

    grid-template-areas:
      "emailicon prompt emailinput button"
  }



  .subs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 45% fit-content;

    grid-column-gap: 3%;
    grid-template-areas:
      "img1 img2 img3 img4"
      "sub1 sub2 sub3 sub4"
  }

  footer {
    height: 100px;
    /* align-self: top; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "footright socials"
  }
}










@media screen and (max-width: 700px) {
  .container {
    margin: 0;
    padding: 3%;
    padding-bottom: 0;
    /* width: 85%; */

    /* grid-row-gap: 3%; */
    grid-template-columns: 90vw;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "main"
      "ajax"
      "footer"

  }

  .extra1,
  .extra2 {
    display: none;
    visibility: hidden;
  }

  header {
    /* align-items: start;
  top: 0;
  position: sticky; */

    grid-template-columns: auto;
    grid-template-rows: min-content 100px;

    grid-template-areas:
      "nav"
      "logo"
  }

  nav img {
    display: none;
  }

  .logo {
    padding: 3%;
    /* height: 130px; */
  }

  .float {
    width: 80%;
    font-size: 60%;
  }

  nav {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 70%;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;

    grid-template-areas:
      "routes info packing gallery about"

  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
      "toppart"
      "news"
      "subs"
  }


  figcaption {
   
    background-color: white;
    color: black;
    opacity: 0.75;
    border-radius: 5px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 90%;
  }

  .toppart {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "figure"
      "bottomnav"
  }

  .bottomnav {
    display: none;
    visibility: hidden;
  }

  .news {
    margin-top: 10%;
    padding-top: 3%;
    padding-bottom: 3%;

    font-size: small;
    grid-gap: 5%;
    grid-template-columns: 50px auto;
    grid-template-rows: 40px 50px;
    
    grid-template-areas:
      "emailicon prompt"
      "emailinput button"
  }

  button {
    width: fit-content;
    height: fit-content;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    /* align-self: right; */
    justify-self: right;
    font-weight: bolder;
  }


  .socials {
    height: 20%;
    margin-top: 10%;
    margin-right: 10%;
  }

  .subs {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, auto);

    grid-column-gap: 3%;
    grid-template-areas:
      "img1"
      "sub1"
      "img2"
      "sub2"
      "img3"
      "sub3"
      "img4"
      "sub4"
  }

  footer {
    height: 100px;
    /* align-self: top; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "footright socials"
  }

}